.container {
    width: 950px;
    height: 600px;
    background-color: #beb7b7;
    margin: 0px auto;
    padding: 20px 20px;

}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
    padding-left: 20px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    padding: 20px 20px;
    float: left;
}

.main {
    height: 370px;
    width: 650px;
    background-color: red;
    padding: 20px 20px;
    float: right;
    vertical-align: top;
}

.sub-content {
    height: 165px;
    width: 200px;
    background-color: yellow;
    margin: 8px;
    float: left;

}

#advertisement {
    height: 110px;
    width: 600px;
    background-color: purple;
    padding: 20px 20px;
    float: right;
    margin-top: 20px;

}